absl-py
astor
attrs
backcall
beautifulsoup4
bleach
bs4
cachetools
certifi
chardet
colorama
cycler
decorator
defusedxml
entrypoints
et-xmlfile
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jdcal
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
lxml
Markdown
MarkupSafe
matplotlib
mistune
more-itertools
nbconvert
nbformat
notebook
numpy
oauthlib
openpyxl
opt-einsum
pandas
pandocfilters
parso
pickleshare
pip
prometheus-client
prompt-toolkit
protobuf
pyasn1
pyasn1-modules
Pygments
PyMySQL
pyparsing
pyrsistent
python-dateutil
pytz
pywinpty
PyYAML
pyzmq
qtconsole
requests
requests-oauthlib
rsa
scikit-learn
scipy
Send2Trash
setuptools
six
sklearn
soupsieve
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
tornado
traitlets
tushare
urllib3
wcwidth
webencodings
Werkzeug
wheel
widgetsnbextension
wrapt
xlrd
zipp
